#root {
  background: url(../src/fon2.png) no-repeat;
  background-size: 100% 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.container {
  max-width: 1000px;
  margin: auto;
  height: 1300px;
}

/* Фотка та інста під нею */
.photoInsta {
  margin : 0 auto;
  max-width: 100%;
}

.photoInsta img{
  margin : 0 auto;
  display: block;
  text-align: center;
  width: 150px;
}

.photoInsta a{
  margin : 0 auto;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-top: 10px;
  color:#437A16;
}

.photoInsta a:hover{
  color: #344129;
}

/* Де працює і вартість */

.clinics{
  margin : 20px auto 0 auto;
  max-width: 55%;
  background:rgb(230, 233, 237);
  border-radius: 20px;
  opacity: 0.9;
}

.clinics p{
  padding: 4px;
  margin:0;
}

.clinics a{
  text-decoration: none;
  color:#437A16;
}

.clinics a:hover{
  color: #344129;
}

/* Про Ксюшу */

.aboutMe{
  margin : 20px auto 0 auto;
  max-width: 70%;
}
.aboutMe h2{
  padding: 0;
  margin: 35px 0 20px 0;
  text-align: center;
}
/* Кнопки */

.buttons{
  max-width: 100%;
  display: block;
  text-align: center;
}
.buttons ul{
  padding: 0;
}
.buttons li{
  list-style-type: none;
  margin-bottom: 5px;
}
.buttons a{
  text-decoration: none;
  color:#437A16;
  border: 1px solid black;
  background:white;
  border-radius: 8px;
  display: block;
  width:100%;
  text-align: center;
}
.buttons a:hover{
  color: #344129;
}
/* Що потрібно для прийому по закону */
.law{
  max-width: 100%;
}
.law button{
  max-width: 90%;
  display: block;
  border-radius: 12px;
  border: 1px solid;
  font-size: 18px;
  color: #344129;
}
.law ul{
  list-style-type: none;
  background: rgb(228, 228, 216);
  opacity: 0.9;
  border-radius: 8px;
}
/* В яких питаннях може допомогти */
.help{
  max-width: 100%;
  margin-top: 30px;
  background:rgb(230, 233, 237);
  border-radius: 8px;
  display: block;
  opacity: 0.9;
}
.help h3{
  font-size: larger;
  padding: 10px 0 0 10px;
}
.help li{
  padding: 5px 0 0 10px;
}
/* Footer */
.footer{
  max-width: 100%;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 14px;
  color:#5c6356;
}




