#root {
  background: url(../src/fon2.png) no-repeat;
  background-size: 100% 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 100%;

}

.container {
  max-width: 1000px;
  margin: auto;
  height: 1300px;
  max-height: 90%;

}

/* Фотка та інста під нею */
.photoInsta {
  margin : 0 auto;
  max-width: 100%;
}

.photoInsta img{
  margin : 0 auto;
  display: block;
  text-align: center;
  width: 150px;
}

.photoInsta a{
  margin : 0 auto;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-top: 10px;
  color:#437A16;
}

.photoInsta a:hover{
  color: #344129;
}

/* Де працює і вартість */

.clinics{
  margin : 20px auto 0 auto;
  max-width: 55%;
  background:rgb(230, 233, 237);
  border-radius: 20px;
  opacity: 0.9;
}

.clinics p{
  padding: 4px;
  margin:0;
}

.clinics a{
  text-decoration: none;
  color:#437A16;
}

.clinics a:hover{
  color: #344129;
}

/* Про Ксюшу */

.aboutMe{
  margin : 20px auto 0 auto;
  max-width: 70%;
}
.aboutMe h2{
  padding: 0;
  margin: 35px 0 20px 0;
  text-align: center;
}
/* Кнопки */

.buttons{
  max-width: 100%;
  display: block;
  text-align: center;
}
.buttons ul{
  padding: 0;
}
.buttons li{
  list-style-type: none;
  margin-bottom: 10px;
}
.buttons a{
  text-decoration: none;
  color:#437A16;
  border: 1px solid black;
  background:white;
  border-radius: 8px;
  display: block;
  width:100%;
  text-align: center;
}
.buttons a:hover{
  color: #344129;
}
/* Що потрібно для прийому по закону */
.law{
  max-width: 100%;
}
/* .law button{
  max-width: 90%;
  display: block;
  border-radius: 12px;
  border: 1px solid;
  font-size: 18px;
  color: #344129;
} */
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}

.law button{
  font-weight:600;
  color: #3e3c3b;
  text-transform: uppercase;
  padding: 5px;
  background: #e1d6b4;
  border: 1px solid #f1f5ed;
  border-radius: 0.75em;
  transition: transform 0.15s;
  transform-style: preserve-3d;
}
.law button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f1f5ed;
  border-radius: inherit;
  box-shadow: 0 0 0 1px #ebeeeb, 0 0.225em 0 0 #b7b4b1;
  transform: translate3d(0, 0.2em, -1em);
  transition: transform 0.15s, box-shadow 0.15s;
}
.law button:hover {
  background: #dbc596;
  transform: translate(0, 0.25em);
}
.law button:hover::before {
  box-shadow: 0 0 0 2px #f3f6f1, 0 0.4em 0 0 #8a897b;
  transform: translate3d(0, 0.1em, -0.1em);
}
.law button:active {
  background: #e1c967;
  transform: translate(0em, 0.45em);
}
.law button:active::before {
  box-shadow: 0 0 0 2px #e1c967, 0 0 #e1c967;
  transform: translate3d(0, 0, -1em);
}



.law ul{
  list-style-type: none;
  background: rgb(228, 228, 216);
  opacity: 0.9;
  border-radius: 8px;
}
/* В яких питаннях може допомогти */
.help{
  max-width: 100%;
  margin-top: 30px;
  background:rgb(230, 233, 237);
  border-radius: 8px;
  display: block;
  opacity: 0.9;
}
.help h3{
  font-size: larger;
  padding: 10px 0 0 10px;
}
.help li{
  padding: 5px 0 0 10px;
}
/* Footer */
.footer{
  /* max-width: 100%; */
  text-align: center;
  font-size: 14px;
  color:#5c6356;
  height: 10%;
}


@media screen and (max-width: 875px) {
  .container{
    height: 1600px;
  }
}

@media screen and (max-width: 580px) {
  .container{
    height: 2300px;
  }
}

